@import "variables";
@import "fonts";

body{
    background-color: #{$gray};
    color: #{$text};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
    padding: 3rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


h1,h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1{
    text-shadow: 2px 2px #{$gray};
    text-transform: uppercase;
    color: #{$primary};
    font-size: 56px;
    font-family: 'Gomarice',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{
    color: #C0C0C0; 
}

.mtl{
    margin-top: 1rem;
}

.btn{
    background-color:#{$primary} ;
    padding: 10px 18px;
    color: #{$white};
    text-decoration: none;
    border-radius: 25px;
    &:hover{
        background-color: #{$text};
        cursor: pointer;
    }
}

.quote{
    color: #C0C0C0;
}

.picture{
    img {
        height: 220px;
        width: auto;
    }  
}
